@model IEnumerable<Device>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div  class="col-6">
            <h2 class="text-primary">Device List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Device" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Device
            </a>
        </div>
        <div>Total number: @Model.Count()</div>
    </div>
    <br />

    @foreach (var obj in Model)
    {
        <h3 class="col-6" style="text-align: justify;"><p>@Html.Raw(obj.Name)</p></h3>
        <div class="col-8" style="text-align: justify;"><b>Barcode</b>:<br><p>@Html.Raw(obj.Code)</p></div>
        @if (obj.Type != null)
        {
            <div class="col-8" style="text-align: justify;"><b>Type</b>:<br> <p>@Html.Raw(obj.Type)</p></div>
        }
        @if (obj.ImageURL != null)
        {
            <div class="col-8" style="text-align: justify;"><b>Image</b>:<br> <img src="@obj.ImageURL" alt="Device Image" /></div>
        }
        @if (obj.PdfUrlDE != null || obj.PdfUrlGB != null)
        {
            <div class="w-75 btn-group" role="group">
                <b>PDF</b>:<br>
                @if (obj.PdfUrlDE != null)
                {
                    <div class="col-3" style="text-align: justify;"><a href="@obj.PdfUrlDE" target="_blank">check PDF(DE)</a></div>
                }
                @if (obj.PdfUrlGB != null)
                {
                    <div class="col-3" style="text-align: justify;"><a href="@obj.PdfUrlGB" target="_blank">check PDF(GB)</a></div>
                }
            </div>
        }
        
        <br />
        <br />
        <div class="w-25 btn-group" role="group">
            <a asp-controller="Device" asp-action="Edit" asp-route-id="@obj.Id"
        class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Edit @obj.Name</a>
            <a asp-controller="Device" asp-action="Delete" asp-route-id="@obj.Id"
               class="btn btn-danger mx-2"><i class="bi bi-trash3-fill"></i>Delete @obj.Name</a>
        </div>
        <br /><br />
    }
</div>